@import '../../../../index.scss';

.NavigationBar {
  > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    > li {
      text-transform: uppercase;
      font-size: 12px;
      margin-right: 60px;
      > a {
        text-decoration: none;
        transition: color .2s ease-in-out;
        &::after {
          transition: all .2s ease-in-out;
          content: '';
          display: block;
          height: 2px;
          width: 0;
          background-color: $secondary-color;
          margin-top: 5px;
        }
        &:visited {
          color: #999;
        }
        &.active {
          color: #000;
          &::after {
            content: '';
            width: 20px;
          }
        }
      }

      &:hover,
      &.active {
        > a {
          color: #000;
          &::after {
            content: '';
            width: 20px;
          }
        }
      }
    }
  }
}